meta(charset="utf-8")
title Маникюр в Москве | iy.nail.studio

meta(name='description', content='Семь из 10 клиентов утверждают что в центре Москвы равных нам по качеству нет! Профессионально делаем маникюр более 8-ми лет и даем 100% гарантию качества на 3 недели ношения. Записывайся заранее!')
meta(name='keywords', content='маникюр в москве, маникюр менделеевская, гель лак в москве, шеллак в москве')
meta(name='developer', content='excv')
meta(name='developer_web-site', content='excv.ru')
meta(name='author', content='dmitry_kartye')
meta(name='cmsmagazine', content='17ee20fa831b75fa0a37a10982a4aec2')
meta(property='og:type', content='profile')
meta(property='profile:first_name', content='Дмитрий')
meta(property='profile:last_name', content='Картье')
meta(property='profile:username', content='dmitry_kartye')
meta(property='og:title', content='Манинюр в Москве | iy.nail.studio')
meta(property='og:description', content='Семь из 10 клиентов утверждают что в центре Москвы равных нам по качеству нет!Профессионально делаем маникюр более 8-ми лет и даем 100% гарантию качества на 3 недели ношения. Записывайся заранее!')

meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" id="viewport" content="width=640, minimum-scale=0.3, maximum-scale=3, user-scalable=no, target-densitydpi=device-dpi")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")

link(rel="icon" type="image/png" href="http://iynail.studio/favicon.png")
link(rel="canonical" href="https://…")
link(rel="stylesheet" media="all" href="css/app.css")

// Facebook Pixel Code
script.
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '349236798746937');
	fbq('track', 'PageView');
noscript
	img(height='1', width='1', src='https://www.facebook.com/tr?id=349236798746937&ev=PageView\
	&noscript=1')
// End Facebook Pixel Code


//Yandex Counter
script(type='text/javascript').
	(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46774896 = new Ya.Metrika({ id:46774896, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");