.icon-arrow {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 2.73em;
  height: 1em;
  fill: initial;
}
.icon-logo_excv {
  width: 3.56em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-viber {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
